.header
  height: 97px
  background-color: $background-color-header
  img
    margin-left: 20px
    margin-top: 30px
    width: 213.1px
  p
    font-size: 14px

.login-box-right
  top: -165px

.box-float-right
  position: relative
  top: -83px
  margin-right: 20px
  float: $float-right
  a
    text-align: center
    font-weight: $font-weight-primary
    text-decoration: none
  ul
    list-style: none
    margin: 0
    li
      @extend .general-performance
      display: inline-block
      margin: -3px
  .buttons-up
    display: inline-block
    width: 100%
  .log-out
    background: $background-color-btn-secondary
    float: $float-right
    padding: 2px 5px
    border: 0
    a
      font-size: 11px
      color: $color-font-primary
      width: 52px
      font-style: normal
  .general-performance
    border: 2px solid $background-color-btn-primary
    margin-top: 5px
    padding: 7px 14px
    a
      font-style: normal
      font-size: 13px
      color: $color-secondary
  .client-information
    @extend .log-out
    margin-right: 5px