.subtitle-left
  font-size: 14px
  text-align: left
  margin-left: 30px

.box-new-iteration
  margin: 20px 30px

.field-iterations
  display: inline-block
  width: 25%
  font-size: 14px
  margin: 30px 0px 0px 30px
  [placeholder]
    &::-webkit-input-placeholder
      font-style: $font-style-primary
    &:-moz-placeholder 
      font-style: $font-style-primary
    &::-moz-placeholder 
      font-style: $font-style-primary
    &:-ms-input-placeholder
      font-style: $font-style-primary

.margin-right
  margin-right: 30px

.field-button-iterations
  display: inline-block
  margin: 30px
  input
    margin: 0

.show-iterations
  margin-bottom: 30px

.image-icon-iteration
  width: 15px

.range-iteration
  margin-left: 5px
  font-weight: $font-weight-primary

.range-iteration,
.inv-iteration,
.hours-iteration,
.number-iteration,
.link-show-iteration
  display: inline-block

.inv-iteration,
.hours-iteration,
.link-show-iteration,
.number-iteration,
.arrow-iteration
  margin-top: 13%

.link-show-iteration
  width: 73%

.inv-iteration,
.hours-iteration
  width: 50%

.link-show-iteration,
.hours-iteration,
.arrow-iteration
  text-align: right

.arrow-iteration
  width: 11px
  margin-left: 5px
  margin-top: 34px

.number-iteration
  background: $background-circle-color
  color: $color-font-primary
  padding: 4px
  border-radius: 20px
  font-size: 9px
