.section-up-performance,
.search-date-range,
.title-performance,
.section-change-performance,
.box-center-performance,
.circle,
.commits,
.commits a,
.box-hours,
.url-to-share,
.box-performance-edit,
.entry-time-iterations
  display: inline-block

.section-up-performance
  width: 100%

.section-up-title
  margin-bottom: 20px

.section-up-performance,
.date-performance,
.project-hours-performance
  padding: 0 20px

.search-date-range
  margin: 20px 0px
  float: right
  border: 2px solid $background-color-border-btn
  margin-top: 5px
  background: $background-color-btn-none
  color: $color-btm
  margin-left: 20px
  a
    padding: 7px 14px
    display: inline-block
    text-decoration: none
    &:hover
      cursor: pointer

.title-performance
  width: 80%
  float: left
  padding-left: 20%
  margin: 0px 0px 30px

.container-new-performance
  overflow: hidden
  h3
    margin: 0
    float: left
    margin-bottom: 17px
    display: inline-block
    width: 100%
  article
    text-align: left

.section-change-performance
  text-align: left
  img, a, p
    display: inline-block
  img
    width: 27px
    float: left
    margin-right: 6px
  a
    text-decoration: none
    width: 100%
  p
    float: left
    margin-top: 7px

.img-rotate-180
  -webkit-transform: rotate(180deg)
  -moz-transform: rotate(180deg)
  rotation: 180deg
  margin-left: 8px

.box-center-performance
  width: 50%
  display: inline
  text-align: center

.box-total-hours-performance
  margin-bottom: 30px
  display: inline-block
  width: 100%
  img
    width: 15px
    display: inline-block
    margin-top: 2px

.underline-short-dark
  width: 129px
  border-top: 0px
  border-bottom: 1px solid

.date-performance
  margin-bottom: 30px
  text-transform: uppercase
  p
    display: inline-block
    font-style: italic
    margin: 0
    text-transform: none

.project-hours-performance
  @extend .date-performance
  .circle
    background: $background-circle-color
    color: $color-font-primary
    border-radius: 37px
    width: 15px
    text-align: center
    padding: 2px
    font-size: 9px
    margin-top: 1px
    float: left
    margin-right: 6px

.commits,
.commits a
  width: 100%
  line-height: 1.5em

.commits
  margin-bottom: 30px

.date-single-performance
  margin-bottom: 10px
  margin-top: 30px

.box-search-performance
  margin: 0px 30px
  form
    padding-bottom: 20px

.field-button-performance
  width: 4.5em
  margin: 35px 20px 0px
  display: inline-block
  input
    padding: 0.4em 1em
    font-size: 0.75em
    margin: 0

.field-performance
  display: inline-block
  width: 17%
  font-size: 14px
  margin: 30px 0px 0px 30px
  select
    width: 100%
    [placeholder]
      &::-webkit-input-placeholder
        font-style: $font-style-primary
      &:-moz-placeholder 
        font-style: $font-style-primary
      &::-moz-placeholder 
        font-style: $font-style-primary
      &:-ms-input-placeholder
        font-style: $font-style-primary
