.underline
  border-bottom: 3px solid #FFF
  margin: 0 auto
  width: 189px
  margin-top: 45px
  padding: 14px
  margin-bottom: 45.5px

#projects
  text-align: center // Centering cards
  margin-bottom: 135px