.box-title
  display: inline-block
  width: 100%
  margin: -12px 0px 21px 0px

.title
  margin: 0px 0 13px 0px

.underline
  width: 209px
  margin-bottom: initial
  border: 2px solid $background-color-secondary

.name-task
  font-size: 0.64em
  width: 289px
  vertical-align: top
  display: table-cell
  max-width: 235px
  height: 100px
  white-space: normal
  overflow: visible

.list-name-task
  font-size: 0.5em
  text-transform: uppercase
  text-overflow: ellipsis
  overflow: hidden

.underline-time-log,
.section-time-log
  display: none

.underline-time-log
  margin: 40px 20px
  border: 2px solid $background-color-secondary

.section-time-log
  margin-bottom: 100px
  overflow: hidden

  .title-time-log
    margin: 20px
    width: 100%
    h1
      text-align: $float-left
      font-size: 20px

  .section-time-log-funtional
    display: table
    margin: 20px
    width: 98%

  .section-time-log-left
    display: table-cell
    vertical-align: middle

  .section-left-card
    width: 291px

  .section-left-hr
    width: 1%

  .card-selected-time-log
    font-weight: $font-museo-weight-normal
    border: 1px solid $background-color-card-hover
    color: $color-secondary
    background: $background-color-secondary
    float: $float-left
    text-align: $float-left
    display: inline-block
    width: 289px
    padding: 0 1.5em
    border-radius: 2px
    height: 150px
    p
      font-size: 0.8em

  .form-time-log
    width: 100%
    float: $float-left
    height: 7.5em
    margin-right: 9px
    display: table-cell
    vertical-align: middle
    height: 100%
    form
      height: 150px
      display: inline-block
      width: 100%

  .underline-time-log-v

    margin: 10px
    border: 1px solid $background-color-secondary
    width: 0px
    height: 129px

  .field-time-log
    height: 24%
    font-style: italic
    font-size: 14px
    margin: 20px 0px 0px 30px
    input
      border: none

  .field-up
    width: 38%
    input
      width: 77%

  .field-down
    width: 96%
    input
      width: 62%

  .save-time-log
    color: $color-font-primary
    border: none
    float: left
    margin-left: 430px
