.box-title
  display: inline-block
  width: 100%
  margin: -12px 0px 21px 0px

.title
  margin: 0px 0 13px 0px

.underline
  width: 209px
  margin-bottom: initial
  border: 2px solid $background-color-secondary

#projects
  text-align: center // Centering cards
  margin-bottom: 135px

.list-name-task
  padding-top: 26%
  font-size: 10px
  text-transform: uppercase

.name-task
  font-size: 12px

.underline-time-log
  display: none
  margin: 40px 20px
  border: 2px solid $background-color-secondary

.section-time-log
  margin-bottom: 100px
  .title-time-log
    margin: 20px
    width: 100%
    display: none
    h1
      text-align: $float-left
      font-size: 20px

  .section-time-log-funtional
    display: flex
    margin: 20px

  .card-selected-time-log
    border: 1px solid $background-color-card-hover
    color: $color-secondary
    background: $background-color-secondary
    float: $float-left
    text-align: $float-left
    display: inline-block
    width: 11.3em
    padding: 0 1.5em
    border-radius: 2px
    height: 7.5em
    p
      font-size: 12px

  .form-time-log
    width: 92%
    float: left
    background: $background-form-color
    height: 7.5em
    margin-right: 9px
    text-align: left
    form
      height: 100%

  .underline-time-log-v
    margin: 10px
    border: 1px solid $background-color-secondary

  .field-time-log
    height: 18%
    border-bottom: 1px solid $color-titles
    font-style: italic
    font-size: 14px
    input
      border: none
      height: 20px
      background: none

  .field-up
    margin: 2% 48% 0% 2%
    input
      width: 92%

  .field-down
    margin: 2% 3% 0% 2%
    input
      width: 76%

  .save-time-log
    display: none
    background: $background-color-btn-primary
    color: $color-font-primary
    border: none
    font-size: 16px
    padding: 12px 30px
    margin-left: 25%
    font-weight: $font-weight-primary