.container-login
  margin-bottom: 100px
  border-radius: 2px

form.login
  display: block
  margin: 6.25em auto 0
  width: 587px
  padding: 57px 45px 40px 45px
  .fields
    margin-bottom: 56px
    ::-webkit-input-placeholder
      color: #556270
    input
      display: inline-block
  .field-down
    margin-top: 50px

.btn-login,
.login-help
  text-align: center
  a
    &:hover
      color: #74d5bb

.login-help
  font-weight: $font-museo-weight-normal

.forgot-title
  height: 5em
  line-height: 5em
  margin-bottom: -3.5em
