.login
  margin-top: 100px
  form
    padding-top: 30px
    padding-bottom: 40px
    width: 50%
    margin-left: 320px
  .btn-primary
    input
      margin-top: 20px
      width: 100px
      height: 40px
  .fields
    input
      width: 450px
      height: 30px
      margin-bottom: 20px
      margin-top: 10px
