form
  text-align: left
  background: $background-form-color

.field-form
  border-bottom: $border-width-primary solid $color-titles
  height: 37px
  input
    width: 100%
    background: none
    border: none
    font-size: $font-size-primary
    height: 2.5em
    font-family: $font-family-primary
    &focus
      outline:none

input[type='text'], input[type='email'], input[type='password'],input[type='search'], input[type='tel'], input[type='url']
  position: relative
  display: block
  @include box-shadow()
  &:focus
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)

[placeholder]
  &::-webkit-input-placeholder
    color: $color-placeholder-primary
  &:-moz-placeholder
    color: $color-placeholder-primary
  &::-moz-placeholder
    color: $color-placeholder-primary
  &:-ms-input-placeholder
    color: $color-placeholder-primary
