.errors
  text-align: left

.errors li
  list-style: none
  color: red

.errors ul
  padding: 0px

form
  text-align: left
  background: $background-form-color
  display: inline-block
  width: 100%


input,select, textarea
  border: none
  border-bottom: $border-width-primary solid $color-titles
  color: $color-placeholder-primary
  background: none
  font-size: $font-size-primary
  height: 2.5em
  line-height: 2.5em
  font-family: $font-family-primary
  margin-bottom: 0.5em
  &:focus
    outline:none
  &.ng-invalid
    color: $color-font-error
    &:focus
      box-shadow: 0px 0px 0px $color-font-error
      -webkit-box-shadow: 0px 0px 0px $color-font-error
      -moz-box-shadow: 0px 0px 0px $color-font-error

input[type='search']
  background: url(/images/magnifying-glass.png) left center no-repeat
  background-size: 15px
  padding-left: 20px
  

input[type='text'],input[type='date'], input[type='email'], input[type='password'],input[type='search'], input[type='tel'], input[type='url'],input[type='number'],textarea
  position: relative
  display: block
  width: 100%
  padding-left: 1em
  &.half-size
    width: 50%

  @include box-shadow()
  &:focus
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)

[placeholder]
  &::-webkit-input-placeholder,&:-moz-placeholder,&::-moz-placeholder,&:-ms-input-placeholder  
    color: $color-placeholder-secondary
    font-style: $font-style-primary
