<navigatorproject class='navigator-right' project="ctrl.project" section="'iterations'"></navigatorproject>
<div class="section-up-iteration section-up-title">
  <div class="box-title title-iteration">
    <div class="loading-spinner" data-loading>
      <img src="images/ajax-loader.gif" />
    </div>
    <h1 class="title"> {{ctrl.projectName}}</h1>
    <hr class="underline" />
  </div>
</div>
<section class="container-new-iteration">
  <div class="section-up-iteration">
    <div class="float-left section-change-iteration box-left-iteration">
    </div>
    <div class="box-center-iteration">
      <h3>{{ctrl.currentWeekStart | dateSuffix}} - {{ctrl.currentWeekEnd | ddSuffix}}</h3>
      <div class="box-total-hours-iteration">
        <img src="images/watch.png"/>
        {{ctrl.total(ctrl.timelogs) | number:1 | hours}}
        <hr class="underline-short-dark"/>
        <img src="images/url.png"><b>Url to share: </b>
        <a href="{{urlShare}}" target="_blank" >{{ urlShare }}</a>
      </div>
    </div>
    <div class="float-right section-change-iteration box-right-iteration" >
    </div>
	
  </div>
  
  <article ng-repeat="(date,timelogs) in ctrl.timelogsGroup">
    <div class="date-iteration date-single-iteration">
      {{ date | date:'EEEE, MM/dd' }}  
      <p>
        {{ctrl.total(timelogs) | number:1 | hours}}
      </p>
    </div>
    <div ng-repeat="timelog in timelogs" class="entry-time-iterations">
      <div class="card-iteration">
        <div class="list">
          <a ng-click="ctrl.editTimeEntry(timelog)" class="img-edit" ng-hide="ctrl.isEditing(timelog)">
            <img src="images/edit.png"/>
          </a>
          <div class="name-task">{{timelog.task_name}}</div>
          <div class="note-task">Notes: <a href> {{timelog.comment}}</a> </div>
          <div class="list-name-task">
            <img src="images/circle.png" /> DONE
          </div>
          <div class="box-hours">
            <div class="box-silver">
              <img src="images/clock-silver.png"/>
              {{timelog.time | number:1 | hours}}
            </div>
        </div>
      </div>
    </div>
    <div id="{{timelog._id.$oid}}" class="edit-entries-performance hide">
      <form method="post" name="formEditTimeEntries" ng-submit="ctrl.editTimelog()">
        <div class="form-time-entries edit-entries">
          <div class="field-form field-up">
            <input type="number" step="0.1" min="0" name="time" ng-model="ctrl.timelog.time" placeholder="Hours:" required/>
          </div>
          <div class="field-form field-down">
            <textarea rows="4" cols="50"name="comment" ng-model="ctrl.timelog.comment" placeholder="Notes:" required/>
          </div>
        </div>
          <input type="submit" value="SAVE" class="btn-primary" />
        </form>
      </div>
    </div>
  </article>

  <div ng-hide="ctrl.hasTimelogs()">
    <p>The iteration has no entries.</p>
  </div>
</section>
