<navigatorproject class='navigator-right' project="ctrl.project.id" section="'stories'"></navigatorproject>

<div class="section-up-card section-up-title">
  <div class="box-title title-card">
    <h1 class="title">{{ctrl.project.name}}</h1>
    <hr class="underline" />
  </div>
  <div class="box-search-story">
    <form>
      <input type="search" name="search-story"  ng-model="search" placeholder="Search story"/>
    </form>
  </div>
</div>

<section id='cards' class="cards-container">
  <article ng-repeat="card in ctrl.cards" ng-class="{active:ctrl.timeLogger.isSelected(card)}" ng-click="ctrl.timeLogger.toggleTasks(card)" class='card-task' ng-show="!search || ([card.name]|filter:search).length">
    <div class="list">

      <span class='icn-bullet'></span>
        <div class="name-task">{{card.name}}</div>
        <div class="list-name-task">
          <img src="images/circle.png" />
          {{card.list_name}}
        </div>
    </div>
  </article>
</section>

<section ng-show='ctrl.timeLogger.hasTask()'>
  <hr class="underline-division"/>

  <div class="section-time-log">
    <div class="title-time-log">
      <h1>TIME LOG</h1>
    </div>
    <section class="section-time-log-funtional">
      <ul class="errors">
        <li ng-repeat='(field,errors) in ctrl.errors'>
          <ul> <li ng-repeat='error in errors'>{{error}}</li> </ul>
        </li>
      </ul>
      <form method="post" name="logTimeForm" novalidate ng-submit="ctrl.saveTimeLogger()">
        <article ng-repeat="timelog in ctrl.timeLogger.timelogs" class="box-time-log">
          <div class="section-time-log-left section-left-card">
            <div class="card-selected-time-log">
              <p> {{timelog.task_name}}</p>
            </div>
          </div>
          <div class="section-time-log-left section-left-hr">
            <hr class="underline-time-log-v"/>
          </div>
          <div class="form-time-log">
            <input class="half-size" type='number' min="0.0001" required float name="time" placeholder="Hours" ng-model="timelog.time" />
            <input type="text" name="comment" placeholder="Notes - link to screenshot, screencast" ng-model='timelog.comment'/>
          </div>
        </article>
        <input type="submit" value="SAVE" class="btn-primary save-time-log" ng-disabled="!logTimeForm.$valid">
      </form>
    </section>
  </div>
</section>
