<div ng-include="'templates/projects/cards_box_right.html'" class="text-right box-float-right cards-box-right"></div>
<div class="section-up-card section-up-title">
  <div class="box-title title-card">
    <h1 class="title">{{ctrl.project.name}}</h1>
    <hr class="underline" />
  </div>
  <div class="box-search-story">
    <form>
      <input type="search" name="search-story"  placeholder="Search story"/>
    </form>
  </div>
</div>

<section id='cards'>
  <article ng-repeat="card in ctrl.cards" ng-class="{active:ctrl.timeLogger.isSelected(card)}" ng-click="ctrl.timeLogger.toggleTasks(card)" class='card-task'>
    <div class="list">

      <span class='icn-bullet'></span>
        <div class="name-task">{{card.name}}</div>
        <div class="list-name-task">
          <img src="images/circle.png" />
          {{card.list_name}}
        </div>
    </div>
  </article>
</section>

<section ng-show='ctrl.timeLogger.hasTask()'>
  <hr class="underline-division"/>

  <div class="section-time-log">
    <div class="title-time-log">
      <h1>TIME LOG</h1>
    </div>
    <section class="section-time-log-funtional">
      <form method="post" name="logTimeForm" novalidate ng-submit="this.saveTimeLogger()">
        <article ng-repeat="timelog in ctrl.timeLogger.timelogs" class="box-time-log">
          <div class="section-time-log-left section-left-card">
            <div class="card-selected-time-log">
              <p> {{timelog.task_name}}</p>
            </div>
          </div>
          <div class="section-time-log-left section-left-hr">
            <hr class="underline-time-log-v"/>
          </div>
          <div class="form-time-log">
            <input class="half-size" type='number' min="0.0001" float name="time" placeholder="Hours" ng-model="timelog.time" />
            <input type="text" name="comment" placeholder="Notes - link to screenshot, screencast" ng-model='timelog.comments'/>
          </div>
        </article>
        <input type="submit" value="SAVE" class="btn-primary save-time-log" />
      </form>
    </section>
  </div>
</section>
