<div ng-include="'templates/projects/cards_box_right.html'" class="text-right box-float-right card-box-right"></div>
<div class="box-title">  
  <h1 class="title">{{controller.project.name}}</h1>
  <hr class="underline" />
</div>
<section id='cards'>
  <article ng-repeat="card in controller.cards" ng-click="controller.tasks(card.id, card.name)" ng-href="#/boards/{{card.id}}/cards" class='card-task'>
    <div class="list">
      <span class='icn-bullet'></span>
        <p class="name-task">{{card.name}}</p>
        <p class="list-name-task">
          <img src="images/circle.png" alt="logo" />
          {{card.list_name}}
        </p>
    </div>
  </article>
</section>
<hr class="underline-time-log"/>
<div class="section-time-log">
  <div class="title-time-log">
    <h1>TIME LOG</h1>
  </div>
  <section ng-repeat="selection in controller.task track by $index" class="section-time-log-funtional">
    <div class="card-selected-time-log">
      <p> {{selection.name}}</p>
    </div>
    <hr class="underline-time-log-v"/>
    <div class="form-time-log">
    	<form name="logTimeForm">
    		<div class="field-time-log field-up">
    			Hours <input name="hours" class="ng dirty ng-valid"/>
    		</div>
    		<div class="field-time-log field-down">
    			Notes - link to screenshot, screencast <input name="notes" class="ng dirty ng-valid"/>
    	    </div>
    	</form>
    </div>
  </section>
  <button class="save-time-log">SAVE</button>
</div>
