<navigatorproject class='navigator-right' project="ctrl.project.id" section="'timeline'"></navigatorproject>

<div class="section-up-card">
    <div class="box-title title-card">
        <h1 class="title"><a href="{{ctrl.project.url}}" target="_blank" style='color: #5c5b5b;font-weight: 500;font-family: "MuseoSans"; text-shadow: 1px 1px #cccccc; text-decoration: none; font-size: 30px !important;'>{{ctrl.project.name}}</a></h1>
        <hr class="underline" />
        <div class="loading-spinner" data-loading>
            <img src="images/ajax-loader.gif" />
        </div>
    </div>
</div>

<section id="history" class="container-fluid cards-container">
    <div class="container">
        <ul class="timeline"></ul>
    </div>
</section>
