<div ng-include="'templates/projects/login_box_right.html'" class="text-right box-float-right login-box-right"></div>
<section class="container-login">
  <form method="post" novalidate ng-submit="auth.signIn()" class='login'>
    <div class="fields">
      <div class="field-form">
        <input type="email" name="email" ng-model="auth.user.email" placeholder="Login" />
      </div>
      <div class="field-down field-form">
        <input type="password" name="password" ng-model="auth.user.password" placeholder="Password" />
      </div>
    </div>
    <div class="btn-login">
      <input type="submit" class="btn-primary" name="commit" value="LOG IN">
    </div>
    <div class="login-help">
      <a href="#">Forgot password?</a>
    </div>
  </form>
</section>
