/*Containers*/
$background-color-primary: #e6e4e4
$background-color-secondary: #FFF
$background-color-header: #FFF
$background-color-card: #FFF
$background-color-card-hover: #95e1dc

$background-form-color: #FFF
/*Buttons*/
$background-color-btn-primary: #95e1dc
$background-color-border-primary: #BEBEBE

/*Links*/
$color-link-primary: #95e1dc

/*Fonts*/
$color-font-primary: #FFF
$color-titles: #5c5b5b
