/*Containers*/
$background-color-primary: #e6e4e4
$background-color-secondary: #FFF
$background-color-header: #FFF
$background-color-card: #FFF
$background-color-card-hover: #95e1dc

$background-form-color: #FFF

/*Circles*/
$background-circle-color: #616d7b

/*Boxs*/
$background-color-box-primary: #606C7A


/*Buttons*/
$background-color-btn-primary: #95e1dc
$background-color-btn-secondary: #CBD0D4
$background-color-border-primary: #BEBEBE
$background-color-btn-none: none
$background-color-border-btn: #7AD9D3
$background-color-btn-disable: #ccc

/*lines*/
$border-color-primary: #A7A7A7
$border-color-secondary: #A7ADB4

/*Links*/
$color-link-primary: #95e1dc

/*Fonts*/
$color-font-primary: #FFF
$color-titles: #5c5b5b
$color-secondary: #4DCFC5
$color-btm: #7AD9D3
$color-placeholder-primary: #5c5b5b
$color-placeholder-secondary: #A7ADB4

//FORMS
$color-error: #CC0000
$color-font-error: $color-error
