/* +font-face("museosans", font-files("/typography/museosans_500-webfont.eot", "/typography/museosans_500-webfont.eot?#iefixf", "/typography/museosans_500-webfont.woff", "/typography/museosans_500-webfont.ttf", "/typography/museosans_500-webfont.svg#museo_sans500"))*/

$font-family-primary: "museosans"

$font-weight-primary: bold

$text-align-primary: center

$border-button-primary: inherit

$border-top-primary: inherit

$border-left-primary: inherit

$border-right-primary: inherit

$border-width-primary: 1.5px

$font-size-primary: 1em

$float-left: left

$float-right: right

$font-style-primary: italic

