$font-family-primary: "MuseoSans"
$font-size-primary: 1em
$font-style-primary: italic
$font-weight-primary: bold
$text-align-primary: center

$font-museo-weight-normal: 500
$font-museo-weight-light: 300

$border-button-primary: inherit
$border-top-primary: inherit
$border-left-primary: inherit
$border-right-primary: inherit

$border-width-primary: 1.5px

$float-left: left
$float-right: right



