$font-family-primary: "MuseoSans"
$font-museo-weight-normal: 500
$font-museo-weight-light: 300

$font-weight-primary: bold
$text-align-primary: center

$border-button-primary: inherit

$border-top-primary: inherit

$border-left-primary: inherit

$border-right-primary: inherit

$border-width-primary: 1.5px

$font-size-primary: 1em

$float-left: left

$float-right: right

$font-style-primary: italic

