<navigatorproject class='navigator-right' project="ctrl.project" section="'performance'"></navigatorproject>
<div class="section-up-performance section-up-title">
  <div class="box-title title-performance">
    <h1 class="title"> {{ctrl.project.name}}</h1>
    <hr class="underline" />
  </div>
</div>

<section ng-init="daysWeek = [{name:'tuesday'},{name:'wednesday'},{name:'thursday'},{name:'friday'}]" class="container-new-performance">
  <div class="section-up-performance">
    <div class="float-left section-change-performance box-left-performance" ng-click="ctrl.changePrevious()">
      <a href>
        <img src="images/arrow-circle.png"/>
        <p>{{ctrl.previousWeekStart | dateSuffix}} - {{ctrl.previousWeekEnd | ddSuffix}}</p>
      </a>
    </div>
    <div class="box-center-performance">
      <h3>{{ctrl.currentWeekStart | dateSuffix}} - {{ctrl.currentWeekEnd | ddSuffix}}</h3>
      <div class="box-total-hours-performance">
        <img src="images/watch.png"/>
        {{ctrl.totalWorked | number:1 | hours}}
        <hr class="underline-short-dark"/>
      </div>
    </div>
    <div class="float-right section-change-performance box-right-performance"  ng-click="ctrl.changeNext()">
      <a href>
        <p>{{ctrl.nextWeekStart | dateSuffix}} - {{ctrl.nextWeekEnd | ddSuffix}}</p>
        <img class="img-rotate-180" src="images/arrow-circle.png"/>
      </a>
    </div>
  </div>
  <article ng-init="ctrl.loadCards(ctrl.project.id)" class="container-new-performance">

   <article ng-repeat="(key, value) in ctrl.cards | groupBy: 'due'" class=" performance-{{n}}">
      <div class="date-performance date-single-performance">
         {{ key | date:'EEEE, MM/dd' }} - 
         <p>
           {{ctrl.total[key] | number:1 | hours}}
         </p>
      </div>
	 <div class="box-performance-edit performance-" ng-repeat="card in value">
     <div class="card-performance card-performance-{{n}}" >
        <div class="list-performance">
          <div class="name-task"> {{card.name}} </div>
		  <div class="note-task">Notes: <a href>  </a> </div>
          <div class="list-name-task">
            <img src="images/circle.png" /> {{card.list_name}}
          </div>
          <div class="box-hours">
            <div class="box-silver">
              <img src="images/clock-silver.png"/>
              {{card.hours | number:1 | hours}}
            </div>
          </div>
		</div>	
     </div>
   </div>
   </article>
  <article>
	

	
	
	
	
	
  </article>