  <div class="buttons-up">
    <button class="log-out"><a href ng-click="ctrl.logOut()">LOG OUT</a></button>
    <button class="client-information"><a href="#/projects/{{ctrl.project.id}}/client">CLIENT INFORMATION</a></button>
  </div>
  <ul>
  	<li><a class="general-performance"  ng-href="#/projects/{{id}}/cards">STORIES</a></li>
  	<li><a class="general-performance"  ng-href="#/projects/{{id}}/iterations">ITERATIONS</a></li>
  	<li class="active-up-menu"><a class="general-performance" href="#/performance/project/{{id}}">PERFORMANCE</a></li>
  </ul>