<section class="container-new-performance" ng-init="ctrl.getDataFromUrl()">
  <div class="section-up-performance">
    <div class="box-center-general-performance">
      <h2 class="title"> {{ctrl.setTitleReport}}</h2>
      <hr class="underline" />
      <h3>{{ctrl.start_date | date:'MMMM d'}} - {{ctrl.end_date | date:'MMMM d'}}</h3>
      <div class="box-total-hours-performance">
        <img src="images/watch.png"/>
        <p>{{ctrl.totalWorked | number:1 | hours}}</p>
        <hr class="underline-short-dark"/>
        <div class="loading-spinner" data-loading>
          <img src="images/ajax-loader.gif" />
        </div>
      </div>
    </div>
  </div>
  <article  ng-repeat="(date,projects) in ctrl.projectsGroup">
    <div class="date-performance">
      {{ date | date:'EEEE, MM/dd' }} - 
      <p>{{ctrl.total[date] | number:1 | hours}}</p>
    </div>
    <div class="activity" ng-repeat="(name,timelogs) in projects">
      <div class="project-hours-performance">
        <div class="circle">1</div>
        {{name}} - 
        <p>{{ctrl.sum(timelogs) | number:1 | hours}}</p>
      </div>
      <div ng-repeat="timelog in timelogs" class="box-performance-edit performance-{{n}}">

        <div class="card-performance card-performance-{{n}}">
          <div class="list-performance">
            <div class="name-task"> {{timelog.task_name}} </div>
            <div class="note-task">Notes: <a href> {{timelog.comment}}</a> </div>
            <div class="list-name-task" ng-init="ctrl.getListName(timelog, name)">
              <img src="images/circle.png" />
             {{ctrl.cards[name][timelog.task_id]}}
            </div>
            <div class="box-hours">
              <div class="box-silver"><img src="images/clock-silver.png"/>
                {{timelog.time | number:1 | hours}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="commits">
        <h3>Commits</h3>
        <a ng-if="date == item.date && timelogs[0].project_id == item.projectId" ng-repeat="item in ctrl.commits" href="{{item.route}}" target="_blank">{{item.date}} - {{item.title}}</a>
      </div>
    </div>
    <hr class="underline-division"/>
  </article>

</section>