<div ng-include="'templates/performance/performance_box_right.html'" class="text-right box-float-right performance-box-right search-box-up-right"></div>

<section class="box-search-performance">
  <form class="formSearchByDate">
      <div class="field-form field-performance float-left">
        <input type="text" name="start_date" value="" placeholder="Start date"/>
      </div>
      <div class="field-form field-performance float-left margin-right">
        <input type="text" name="end_date" value="" placeholder="End date"/>
      </div>
      <div class="field-form field-performance float-left">
        <select name="project">
          <option value="" disabled selected>Project</option>
        </select>
      </div>
      <div class="field-form field-performance float-left">
        <select name="team">
          <option value="" disabled selected>Team member</option>
        </select>
      </div>
      <div class="field-button-performance">
        <input type="submit" value="SEARCH" class="btn-primary" />
      </div>
  </form>
</section>