.btn
  text-align: $text-align-primary
  margin-bottom: 20px
  line-height: 2em
  padding: 2px 20px
  cursor: pointer

.btn-primary
  @extend .btn
  background-color: $background-color-btn-primary
  border: $border-button-primary
  color: $color-font-primary
  font-size: 18px
  &[disabled]
    background-color: $background-color-btn-disable

  
.btn-centered
  display: table
  margin-left: auto
  margin-right: auto