body
  background-color: $background-color-primary

.login
  text-align: $text-align-primary
  form
    background-color: $background-color-secondary
    
.header
  background-color: $background-color-header