body
  background-color: $background-color-primary
  font-size: 16px

.login
  text-align: $text-align-primary
  form
    background-color: $background-color-secondary
    
.header
  background-color: $background-color-header