body
  background-color: $background-color-primary
  font-size: 16px
  color: $color-titles
  font-family: $font-family-primary
  margin: 0

.container
  text-align: center

.card
  background-color: $background-color-card
  color: $color-titles
  display: inline-block
  margin: 0.7em
  width: 289px
  font-size: 1.25em
  padding: 1em
  border: 1px solid $background-color-card
  border-radius: 2px
  height: 150px
  font-weight: $font-museo-weight-normal
  @include ellipsis()
  &:hover
    border: 1px solid $background-color-card-hover
    color: $color-link-primary
    cursor: pointer

.card-project
  @extend .card
  text-align: center
  text-transform: uppercase

.card-task
  @extend .card
  text-align: left

.list
  height: 109px
  width: 289px
  display: table-cell
  max-width: 235px

.section-time-log-left
  text-align: left
