input
  border-top: $border-top-primary
  border-left: $border-left-primary
  border-right: $border-right-primary
  font-family: "museosans"
  border-bottom-color: $background-color-border-primary
  border-width: $border-width-primary
  font-size: $font-size-primary

.section_left
  float: $float-left
  margin-right: 1.875em
  input
    width: 18.75em
    