h1
  text-transform: uppercase
  font-size: 30px

.text-right
  font-style: $font-style-primary

.box-title
  display: inline-block
  width: 100%
  margin: -12px 0px 21px 0px

.title
  text-align: center

.underline
  width: 209px
  margin-bottom: 13px
  border: 2px solid $background-color-secondary
  

