.btn-primary
  input
    margin-top: 20px
    width: 100px
    height: 40px
    background-color: $background-color-btn-primary
    border: inherit
    color: $color-font-primary
    font-weight: bold
    font-family: "museosans"