.container-login 
  .login
    .fields
      input
        width: 450px
        height: 30px
        border-top: inherit
        border-left: inherit
        border-right: inherit
        font-family: "museosans"
        border-bottom-color: $background-color-border-primary
        border-width: 1.5px
        margin-bottom: 20px
        margin-top: 10px
        font-size: 16px
    