a
  color: $color-link-primary
  font-weight: bold
  font-family: "museosans"

.text-right
  float: right
  margin-right: 20px
  margin-top: 40px
  font-family: "museosans"
  font-style: italic

h1
  text-align: center
  text-transform: uppercase