<div ng-include="'templates/clients/client_box_right.html'" class="text-right box-float-right client-box-right"></div>
<div class="box-title">
  <h1 class="title">{{controller.project.name}}</h1>
  <hr class="underline" />
</div>
<section id='client'>
  <article class='info-client'>
    <a href class="img-edit float-right" ng-click="ctrl.editClient()" ><img src="images/edit.png"/></a>
    <div class="box-center-text">
      <div class="name-client">{{ctrl.client.name}}</div>
      <div class="email-client">{{ctrl.client.email}}</div>
      <div class="git-client">Git Url: {{ctrl.client.name}}</div>
      <div class="ssh-client">SSH: {{ctrl.client.name}}</div>
    </div>
  </article>
</section>
<!--section id='client_new'>
  <div class='new-client'>
    <form name="formClients" ng-submit="ctrl.SaveClient()" >
      <div class="fields">
        <div class="field-form">
          <input type="text" name="name" ng-model="ctrl.client.name" placeholder="Client Name" required/>
          <span ng-show="formClients.name.$error.required  && formClients.name.$dirty">The Name is required.</span>
        </div>
        <div class="field-form">
          <input type="email" name="email" ng-model="ctrl.client.email" placeholder="E-mail Address" required/>
          <span ng-show="formClients.email.$error.required  && formClients.email.$dirty">The E-mail is required.</span>
          <span ng-show="formClients.email.$error.email">The E-mail format is invalid.</span>
        </div>
        <div class="field-form">
          <input type="text" name="git" ng-model="ctrl.client.git" placeholder="Git Url" />
        </div>
        <div class="field-form">
          <input type="text" name="ssh" ng-model="ctrl.client.ssh" placeholder="SSH" />
        </div>
      </div>
      <input type="submit" value="SAVE" class="btn-primary save-new-client" ng-class="{ disabled: formClients.$invalid }" ng-disabled="formClients.$invalid"/>
      <div style="clear:both;"></div>
      <span class="ng-valid" ng-show="ctrl.success">The iteration was registrated successfully.</span>
      <span class="ng-invalid ng-dirty" ng-show="ctrl.error">An error has occurred when the operation was in progress.</span>
    </form>
  </div>
</section-->