<div ng-include="'templates/clients/new_client_box_right.html'" class="text-right box-float-right new-client-box-right"></div>
<div class="box-title">
  <h1 class="title">NEW CLIENT</h1>
  <hr class="underline" />
</div>
<section id='client'>
  <div class='new-client'>
    <form method="post" novalidate ng-submit="ctrl.SaveClient()" name="formClients">
      <div class="fields">
        <div class="field-form">
          <input type="text" name="name" ng-model="ctrl.client.name" placeholder="Client Name" required/>
          <span ng-show="formClients.name.$error.required  && formClients.name.$dirty">The Name is required.</span>
        </div>
        <div class="field-form">
          <input type="email" name="email" ng-model="ctrl.client.email" placeholder="E-mail Address" required/>
          <span ng-show="formClients.email.$error.required  && formClients.email.$dirty">The E-mail is required.</span>
        </div>
        <div class="field-form">
          <input type="text" name="git" ng-model="ctrl.client.git" placeholder="Git Url" />
        </div>
        <div class="field-form">
          <input type="text" name="ssh" ng-model="ctrl.client.ssh" placeholder="SSH" />
        </div>
      </div>
      <input type="submit" value="SAVE" class="btn-primary save-new-client" />
    </form>
  </div>
</section>