<!DOCTYPE html>
<html>
<head>
  <title>TimeApp</title>

	<div class="header">
	  <img src="images/logo.svg" alt="logo" />
	  <div class="text-right">
	    <p> "Do or do not. There is no try" - Yoda.</p>
	  </div>
	</div>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="timeFrontendApp"> 
<%= yield %>
</body>
</html>
