<!DOCTYPE html>
<html>
<head>
  <title>TimeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <a href="/#/project"><img src="/images/logo.svg" alt="logo" /></a>
  </div>
  <div class="container">
    <%= yield %>  
  </div>
  <div class="hide">
    <%= javascript_include_tag 'application' %>
  </div>
</body>
</html>
